
</html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>

  <div class="navbar">
    <ul>
        <li>admin home</li></a>
        <a href="/admin/addproduct"><li>add products</li></a>
        <li>orders</li>
        <li><a style="text-decoration: none; color:rgb(250, 250, 250)" href="/admin">login</li></a>
        <li>help</li>
    </ul>
  </div>
<div style="display:flex">
  
  <div class="contain">
    <div class="mid">
    <a href="#">home</a>
    </div>
     <div class="mid">
    <a href="#">about</a>
    </div>
     <div class="mid">
    <a href="#">service</a>
    </div>
   <div class="mid">
    <a href="#">products</a>
    </div>
    <div class="mid">
    <a href="#">contact</a>
    </div>
  </div>


  <div class="items">
    
   <div></div>
   <div></div>
   <div></div>
   <div></div>

   </div>
   
   </div>
    
    

  
  
 
 

   
 
   

</body>
</html>