<section class="center">
  <h2>Login</h2>
  <form action="/register" method="post"> 
    <input class="user-data"type="email"  name="email" placeholder="Email adress..">
    <input  class="user-data" type="mobile"  name="number" placeholder="number"> 
    <input  class="user-data" type="password"  name="password" placeholder="Password...">
  {{!-- <input  class="user-data" type="mobile"  name="number" placeholder="number">  --}}
    <input type="submit" type="submit" value="Register">
      <p>Not Registered? <a href="#">Sign Up</a></p>
  </form> 

</section> 
    
   